* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font: 'Roboto', sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #323238;
  --terciary-color: #02799d;

  --bg-sound-button-color: #e1e1e6;

  --fill-svg-color: #323238;
  --fill-svg-active-color: #ffffff;

  --base-font-size: 12.6rem;
  --base-line-height: 14.8rem;
}

body {
  background-color: var(--primary-color);
  height: 100vh;

  display: grid;
  place-items: center;

  font-family: var(--font);
  font-size: 1.6rem;
}

main {
  width: 100%;
  max-width: 82rem;
  padding: 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

button svg path {
  fill: var(--fill-svg-color);
}

.hide {
  display: none;
}

.timer__time {
  display: flex;

  justify-content: center;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--secondary-color);
  font-weight: 500;

  margin-bottom: 1.6rem;
}

.timer__controls {
  display: flex;
  gap: 4rem;
}

.timer-controls__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timer-controls__button--set {
  margin-bottom: 8px;
}

.sounds__buttons {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;

  max-width: 30.8rem;
}

.sounds-buttons__button {
  background-color: var(--bg-sound-button-color);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  align-items: center;

  padding: 2.4rem;

  border: none;
  border-radius: 24px;

  cursor: pointer;
}

.sounds-buttons__button--active {
  background-color: #02799d;
}

.sounds-buttons-button__volume {
  width: 9rem;
  -webkit-appearance: none;
  background: var(--secondary-color);
  outline: none;
  height: 4px;
  border-radius: 9px;
}

.sounds-buttons-button__volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: var(--secondary-color);
  cursor: pointer;
}

.sounds-buttons-button__volume::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: var(--secondary-color);
  cursor: pointer;
}

.sounds-buttons__button--active .sounds-buttons-button__volume,
.sounds-buttons__button--active
  .sounds-buttons-button__volume::-webkit-slider-thumb {
  background: var(--fill-svg-active-color);
}

.sounds-buttons__button--active svg path {
  fill: var(--fill-svg-active-color);
}

.viewMode {
  position: absolute;
  top: 64px;
  right: 64px;
}
.viewMode__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .viewMode {
    top: 32px;
    right: 32px;
  }

  main {
    padding: 5%;

    flex-direction: column;
    justify-content: space-around;
    gap: 3.2rem;
  }
}

@media screen and (max-width: 540px) {
  .viewMode {
    top: 16px;
    right: 16px;
  }
  :root {
    --base-font-size: 10.8rem;
    --base-line-height: 10rem;
  }
}
